body{
	font-family:  sans-serif;
	font-size: 16px;
	color: #0c66ff;
	margin: 0;
	padding: 0;


}

header{
	border-bottom: 2px solid #0c66ff1f ;
	padding: 20px 0;
}
.container{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}
.logo{
	width: 10%;
	float: left;
}
.logo img{
	width: 100%;
}
.menu{
	width: 40% ;
	float: right;
	
}
.menu ul{
	float: right;

}
.menu ul li{
	list-style: none;
	
	float: left;
}
.menu ul li a{
	font-size: 18px;
	color: #3b506c;
	text-decoration: none;
    display: inline-block;
    padding: 0 20px ;

}
.menu ul li:last-child a{
	padding-right: 0;

}

.banner{
	padding: 50px 0;
}
.container1{
	width: 60%;
	margin: 0 auto;
}
.banner_text{
	text-align: center;
}
.banner_text h1{
	font-size: 54px;
	color: #0f2656;
	margin: 0px 100px 25px;
	letter-spacing: 0;
    word-spacing: 0;
    line-height: 60px;
	

}
.banner_text h1 span{
	color: #008aff;
}
.banner_text p{
	color: #837fa5;
	font-size: 17px;
	margin: 0 10px 22px;
	line-height: 22px;
}
.banner_image{
	width: 50%;
	margin: 0 auto;

}
.banner_image img{
	width: 100%;
}
.midcontent{
	padding: 50px 0;
}
.content{
	overflow: hidden;
	padding: 0 15px;
}
.content_left{
	width: 45%;
	float: left;
	padding: 10px 20px;
	margin: 0;
}
.content_left h2{
	font-size: 40px;
	text-align: right;
	color: #f15767;
	font-weight: 600;
}
.content_left p{
	font-size: 18px;
	text-align: right;
	color: #0f2656;
}
.content_right{
	width: 45%;
	float: right;
	padding: 0px 20px;
	margin: 0;
}
.content_right h1{
	font-size: 49px;
	width: 100%;
	color: #0f2656;

}

.cards{
	padding: 50px 0;
}
.cardset{
	overflow: hidden;

}
.card{
	width: 27%;
    background-color: #fdebed;
    padding: 50px 29px;
    float: left;
    margin-right: 41px;
}
.card:last-child{
	margin-right: 0;
}
.card_image{
	width: 300px;
    height: 200px;
    margin: 0 auto;
}
.card_image img{
	width: 100%;
}
.card_text{
	padding: 0 32px;
}
.card_text h2{
	font-size: 21px;
	color: #142a58;
}
.card_text p{
	color: #532e7d;
	font-size: 15px;
}

.footer{
	border-top: 1px solid #0c66ff1f ;
	display: inline-block;
	background-color: #008aff;
	width: 100%;
	text-align: center;
}
.footer p{
	font-size: 16px;
	color: #8dc9ff;
	padding: 20px 0;
}
.footer p span{
	font-size: 16px;
	color: white;
	letter-spacing: 4px;
	font-weight: 800;
}
